@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 56px;
  text-align: center;
  margin: 0;
  padding: 6px;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 36px;
  text-align: center;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0.8em 1.8em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Staatliches", cursive;
  font-size: 24px;
  transition: 0.3s;
  z-index: 1;
  color: white;
}

button::before {
  content: "";
  width: 0;
  height: 390%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 105%;
}

button:hover {
  color: #111;
}

.background {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  filter: blur(10px) brightness(1.6);
  /* Portrait */
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .background {
    display: none;
  }
}

.text {
  z-index: 99999;
  position: absolute;
  top: 4px;
  left: 0;
  font-family: "Staatliches", cursive;
  color: white;
  font-weight: 100;
}

.vs {
  z-index: 9999;
  position: absolute;
  font-family: "Staatliches", cursive;
  font-size: 66px;
  color: white;
  font-weight: 800;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 480px) {
  .vs {
    font-size: 44px;
  }
}
.vs span {
  padding: 2px;
}

.banner {
  /* Portrait */
  display: flex;
  width: 1024px;
  max-width: 100%;
  height: 80vh;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px gray;
}
.banner .title {
  font-family: "Staatliches", cursive;
  color: white;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .banner {
    position: fixed;
    overflow: hidden;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.banner .image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .banner .image img {
    height: 115px;
  }
}
.banner .side {
  background-repeat: no-repeat;
  background-position: left, right;
  box-shadow: 0 0px 13px #000000;
  background-size: 100%;
  width: 50%;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .banner .side {
    display: block;
    height: 50vh;
    width: 100%;
  }
}
.banner .side.liverpool_logo {
  background-image: url("../images/liverpoolwallpaper.jpg");
}
.banner .side.liverpool_logo .image {
  top: calc(50% - 14px);
}
@media only screen and (max-width: 600px) {
  .banner .side.liverpool_logo .image {
    top: calc(50% + 16px);
  }
}
.banner .side.manchester_logo {
  background-image: url("../images/mancitywallpapaer.jpg");
}
@media only screen and (max-width: 600px) {
  .banner .side.manchester_logo .image {
    top: calc(50% - 36px);
  }
}
@media only screen and (max-width: 480px) {
  .banner .side.manchester_logo .image {
    top: calc(50% - 16px);
  }
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .footer {
    bottom: 0;
  }
  .footer button {
    width: 100%;
  }
}