body {
  padding: 0;
  margin: 0;
}
body .banner {
  width: 1024px;
  height: 80vh;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px gray;
  background: url("../images/liverpoolwallpaper.jpg"), url("../images/mancitywallpapaer.jpg");
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 50%, 50%;
}
body .banner .liverpool_logo {
  position: absolute;
  left: 20%;
}
body .banner .manchester_logo {
  position: absolute;
  right: 20%;
}